<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> PSTR </title>
    <link rel="stylesheet" type="text/css" href="../../style/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../../style/common.css" />
    <link rel="stylesheet" type="text/css" href="../../style/info.css" />
</head>

<body>
    <div class="header title">PSTR</div>
    <div class="content">
        <section>
            <!--for demo wrap-->
            <h1>All sensor data</h1>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>time</th>
                            <th>seat cusion back left weight</th>
                            <th>seat cusion back right weight</th>
                            <th>seat cusion front left weight</th>
                            <th>seat cusion front right weight</th>
                            <th>seat tailbone weight</th>
                            <th>seat lowerback left weight</th>
                            <th>seat upperback left weight</th>
                            <th>score</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table id="infotable" cellpadding="0" cellspacing="0" border="0">
                    <tbody>


                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <div id="nav" class="footer">
        <a href="../home/home.html">Home</a>
        <a href="info.html">Info</a>
    </div>
    <script type="text/javascript" src="../../vendor/jquery.min.js"></script>
    <script type="text/javascript" src="info.js"></script>
</body>

</html>
