.title {
    color: #02d9d2 !important;
    text-align: center;
}

.content{
    position: absolute;
    right: 0;
    top: 3em;
    left: 0;
    bottom: 3em;
    background-color: #171717;
    text-align: center;
    display: flex;
}

.content .chair{
    width: 80%;
}
.content .spectum{
    width: 20%;
    color: white;
    display: flex;
    flex-direction: column;
}
.spectum ul{
    list-style: none;
}
.spectum ul li{
    padding-top: 2em;
}
.spectum .text{
    height: 60%;
}
.spectum .progressbar{
    height: 40%;
    padding: 1em;
}

.header {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    padding: 1em;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}

.bar{

}
