<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> PSTR </title>
    <link rel="stylesheet" type="text/css" href="../../style/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../style/common.css"/>
    <link rel="stylesheet" type="text/css" href="./home.css"/>
</head>

<body>
    <div class="header title">
        PSTR
    </div>

    <div class="content">
        <div id="chair" class="chair"></div>
        <div id="spectum" class="spectum">

            <h1 id="message" style="min-height:8em">
            </h1>

            <label id="score"> score </label>
            <div id="progressbar" class="progressbar"></div>
        </div>
    </div>

    <div id="nav" class="footer bar">
        <a href="home.html">Home</a>
        <a href="../info/info.html">Info</a>
    </div>

    <script type="text/javascript" src="../../vendor/jquery.min.js"></script>
    <script type="text/javascript" src="../../vendor/three.js"></script>
    <script type="text/javascript" src="../../vendor/lib/OrbitControls.js"></script>
    <script type="text/javascript" src="../../vendor/progressbar.js"></script>
    <script type="text/javascript" src="home.js"></script>

</body>

</html>
